@model Cumulative_1.Models.Student

<!-- Delete Confirmation Page -->
<div class="container shadow-lg p-5 m-4 bg-light rounded">
    <h3 class="mb-4 text-danger">Are you sure you want to delete the Student?</h3>

    <h4 class="mb-4 text-primary">Student Name: @Model.StudentFName @Model.StudentLName</h4>

    <a href="/StudentPage/Show/@Model.StudentId" class="btn btn-secondary me-3">No, take me back</a>

    <form method="POST" action="/StudentPage/Delete/@Model.StudentId" class="d-inline">
        <input type="submit" value="Confirm Delete" class="btn btn-danger" />
    </form>
</div>
